# <center> IGR204 - Projet TimeX - 2017/2018

In [1]:
import numpy as np
import pandas as pd
idx = pd.IndexSlice

In [2]:
# Fonctions permettant la conversions des temps depuis "hh:mm" (String) vers leur Ã©quivalent en minutes (int)
def stringToMinutes(stringTime):
    assert ":" in stringTime, "char ':' not in given parameter"
    if stringTime == ":":
        return None
    hours, minutes = stringTime.split(":", maxsplit=1)
    return int(hours)*60 + int(minutes)

# Fonctions inverse
def minutesToString(intTime):
    assert isinstance(intTime, int), "parameter must be an integer"
    hours, minutes = divmod(intTime, 60)
    return "{}:{:02d}".format(hours, minutes)

In [3]:
# Lecture des donnÃ©es
data_filename = "./data/original_data.csv"

df = pd.read_csv(data_filename,
                 #na_values=":",
                 #converters={'Value':stringToMinutes},
                 index_col=['ACL00', 'ACL00_LABEL', 'TIME', 'SEX', 'SEX_LABEL',
                            'DAYSWEEK', 'DAYSWEEK_LABEL', 'GEO', 'GEO_LABEL'])

df = df.drop(['UNIT', 'UNIT_LABEL'], axis=1)

df['Minutes'] = df['Value'].apply(stringToMinutes)
df = df.drop(['Value'], axis=1)

df  #.isna().sum().sum()

                                                                                                                                    Minutes
ACL00   ACL00_LABEL          TIME SEX SEX_LABEL DAYSWEEK DAYSWEEK_LABEL       GEO GEO_LABEL
TOTAL   Total                2000 T   Total     D1-7     All days of the week BE  Belgium                                            1440.0
                                                                              BG  Bulgaria                                           1440.0
                                                                              DE  Germany (until 1990 former territory of the FRG)   1440.0
                                                                              EE  Estonia                                            1440.0
                                                                              EL  Greece                                                NaN
                                                                              ES  Spain                                              1440.0
                                                                              FR  France                                             1440.0
                                                                              IT  Italy                                              1440.0
                                                                              LV  Latvia                                             1440.0
                                                                              LT  Lithuania                                          1440.0
                                                                              LU  Luxembourg                                            NaN
                                                                              HU  Hungary                                               NaN
                                                                              NL  Netherlands                                           NaN
                                                                              AT  Austria                                               NaN
                                                                              PL  Poland                                             1440.0
                                                                              RO  Romania                                               NaN
                                                                              SI  Slovenia                                           1440.0
                                                                              FI  Finland                                            1440.0
                                                                              UK  United Kingdom                                     1440.0
                                                                              NO  Norway                                             1440.0
                                                                              RS  Serbia                                                NaN
                                                D1-5     Monday to Friday     BE  Belgium                                            1440.0
                                                                              BG  Bulgaria                                           1440.0
                                                                              DE  Germany (until 1990 former territory of the FRG)   1440.0
                                                                              EE  Estonia                                            1440.0
                                                                              EL  Greece                                                NaN
                                                                              ES  Spain                                              1440.0
                                                                              FR  France                                             1440.0
                                                                              IT  Italy                                              1440.0
                                                                              LV  Latvia                                             1440.0
...                                                                                                                                     ...
AC99NSP Unspecified time use 2010 F   Females   D1-5     Monday to Friday     NL  Netherlands                                          18.0
                                                                              AT  Austria                                               5.0
                                                                              PL  Poland                                                3.0
                                                                              RO  Romania                                               8.0
                                                                              SI  Slovenia                                              NaN
                                                                              FI  Finland                                              10.0
                                                                              UK  United Kingdom                                       49.0
                                                                              NO  Norway                                                4.0
                                                                              RS  Serbia                                                1.0
                                                D6-7     Saturday to Sunday   BE  Belgium                                               4.0
                                                                              BG  Bulgaria                                              NaN
                                                                              DE  Germany (until 1990 former territory of the FRG)      5.0
                                                                              EE  Estonia                                               4.0
                                                                              EL  Greece                                                3.0
                                                                              ES  Spain                                                 1.0
                                                                              FR  France                                                8.0
                                                                              IT  Italy                                                 2.0
                                                                              LV  Latvia                                                NaN
                                                                              LT  Lithuania                                             NaN
                                                                              LU  Luxembourg                                            5.0
                                                                              HU  Hungary                                               0.0
                                                                              NL  Netherlands                                          14.0
                                                                              AT  Austria                                               3.0
                                                                              PL  Poland                                                3.0
                                                                              RO  Romania                                              11.0
                                                                              SI  Slovenia                                              NaN
                                                                              FI  Finland                                              11.0
                                                                              UK  United Kingdom                                       48.0
                                                                              NO  Norway                                                8.0
                                                                              RS  Serbia                                                1.0

[21168 rows x 1 columns]

## Extract Countries & Activities List

In [4]:
countries = list(df.index.get_level_values(8).unique().values)
activities_Code = list(df.index.get_level_values(0).unique().values)

print("Nb Countries =", len(countries))
print("Nb Activities =", len(activities_Code))

Nb Countries = 21
Nb Activities = 56

In [5]:
## VÃ©rification qu'il y a bien 21 valeurs (pour les 21 pays) par filtrage
for year in [2000, 2010]:
    for gender in ['M', 'F', 'T']:
        for daysweek in ['D1-5', 'D6-7', 'D1-7']:
            for acl in activities_Code:
                nb_valeurs = len(df.loc[idx[acl, :, year, gender, :, daysweek], :].values)
                assert nb_valeurs==21, "!! Il y a {} valeurs pour Y={}, gender={}, day={}".format(nb_valeurs,
                                                                                                  year,
                                                                                                  gender,
                                                                                                  daysweek)

## General Function to Compute GHI

In [6]:
year=2000
gender='T'
daysweek='D1-7'

total_time_constraint = np.zeros(21)

sleep = df.loc[idx['AC01', :, year, gender, :, daysweek], :].values
eating = df.loc[idx['AC02', :, year, gender, :, daysweek], :].values

total_time_constraint = sleep + eating
total_time_constraint

array([[614.],
       [667.],
       [597.],
       [580.],
       [ nan],
       [620.],
       [665.],
       [612.],
       [609.],
       [600.],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [602.],
       [ nan],
       [590.],
       [588.],
       [588.],
       [565.],
       [ nan]])

In [7]:
# ['ACL00', 'ACL00_LABEL', 'TIME', 'SEX', 'SEX_LABEL', 'DAYSWEEK', 'DAYSWEEK_LABEL', 'GEO', 'GEO_LABEL']

def computeGHI_allCountries(constraint_ACLs, leisure_ACLs, year=2000, gender='T', daysweek='D1-7'):
    
    assert year in [2000, 2010], "year must be an integer equal to 2000 or 2010"
    assert gender in ['M', 'F', 'T'], "gender must be a String equal to 'M', 'F' or 'T'"
    assert daysweek in ['D1-5', 'D6-7', 'D1-7'], "daysweek must be a String equal to 'D1-5', 'D6-7' or 'D1-7'"
    
    total_time_constraint = np.zeros(21)
    total_time_leisure = np.zeros(21)
    idx = pd.IndexSlice
    
    for cons_acl in constraint_ACLs:
        values = df.loc[idx[cons_acl, :, year, gender, :, daysweek], :].values.reshape(-1)
        total_time_constraint += values
    
    for leis_acl in leisure_ACLs:
        total_time_leisure += df.loc[idx[leis_acl, :, year, gender, :, daysweek], :].values.reshape(-1)
    
    return total_time_constraint, total_time_leisure

In [8]:
# Par exemple :
constraint_ACLs = ['AC0', 'AC01', 'AC02', 'AC03']
leisure_ACLs = ['AC9B', 'AC936', 'AC938']
# ------------------------------------------------

total_time_constraint, total_time_leisure = computeGHI_allCountries(constraint_ACLs, leisure_ACLs,
                                                                    year=2000, gender='T', daysweek='D1-7')

### Display in a Dataframe

In [9]:
res = pd.DataFrame({"Tot_Leis":total_time_leisure, "Tot_Cons":total_time_constraint}, index=countries)
res['GHI'] = res['Tot_Leis'] / res['Tot_Cons']
res

                                                  Tot_Cons  Tot_Leis       GHI
Belgium                                             1316.0      22.0  0.016717
Bulgaria                                            1409.0      14.0  0.009936
Germany (until 1990 former territory of the FRG)    1299.0      23.0  0.017706
Estonia                                             1266.0      17.0  0.013428
Greece                                                 NaN       NaN       NaN
Spain                                               1336.0      16.0  0.011976
France                                              1418.0       NaN       NaN
Italy                                               1347.0      21.0  0.015590
Latvia                                              1299.0      22.0  0.016936
Lithuania                                           1309.0      19.0  0.014515
Luxembourg                                             NaN       NaN       NaN
Hungary                                                NaN       NaN       NaN
Netherlands                                            NaN       NaN       NaN
Austria                                                NaN       NaN       NaN
Poland                                              1308.0      21.0  0.016055
Romania                                                NaN       NaN       NaN
Slovenia                                            1262.0      16.0  0.012678
Finland                                             1262.0      17.0  0.013471
United Kingdom                                      1267.0      26.0  0.020521
Norway                                              1232.0      18.0  0.014610
Serbia                                                 NaN       NaN       NaN

In [10]:
activities_Code = list(df.index.get_level_values(0).unique().values)
activities_label = list(df.index.get_level_values(1).unique().values)
df_activities = pd.DataFrame({"ACL":activities_Code, "Label":activities_label})
df_activities
#df_activities.to_excel("activities_TimeUse.xlsx")

         ACL                                              Label
0      TOTAL                                              Total
1        AC0                                      Personal care
2       AC01                                              Sleep
3       AC02                                             Eating
4       AC03             Other and/or unspecified personal care
5     AC1_TR  Employment, related activities and travel as p...
6       AC1A             Main and second job and related travel
7       AC1B  Activities related to employment and unspecifi...
8        AC2                                              Study
9      AC21A              School and university except homework
10     AC212                                           Homework
11      AC22                                    Free time study
12       AC3                          Household and family care
13     AC31A                Food management except dish washing
14     AC313                                       Dish washing
15     AC321                                  Cleaning dwelling
16     AC32A          Household upkeep except cleaning dwelling
17     AC331                                            Laundry
18     AC332                                            Ironing
19     AC33A  Handicraft and producing textiles and other ca...
20     AC34A                          Gardening; other pet care
21     AC342                           Tending domestic animals
22     AC343                                    Caring for pets
23     AC344                                    Walking the dog
24      AC35                          Construction and repairs
25      AC36                              Shopping and services
26     AC38A    Childcare, except teaching, reading and talking
27     AC38B           Teaching, reading and talking with child
28   AC37_39        Household management and help family member
29     AC4-8               Leisure, social and associative life
30      AC41                                Organisational work
31      AC42                  Informal help to other households
32      AC43                           Participatory activities
33     AC51A                                Visiting and feasts
34     AC51B                                  Other social life
35      AC52                          Entertainment and culture
36      AC53                                            Resting
37     AC611                                 Walking and hiking
38      AC6A  Sports and outdoor activities except walking a...
39     AC733                                     Computer games
40      AC7A                                          Computing
41      AC7B  Hobbies and games except computing and compute...
42     AC812                                      Reading books
43     AC811                              Reading, except books
44      AC82                                       TV and video
45      AC83                                    Radio and music
46  AC4-8NSP                               Unspecified leisure
47      AC9A               Travel except travel related to jobs
48     AC913                                Travel to/from work
49      AC9B                            Travel related to study
50     AC936            Travel related to shopping and services
51     AC938                               Transporting a child
52      AC9C         Travel related to other household purposes
53      AC9D  Travel related to leisure, social and associat...
54   AC90NSP                                 Unspecified travel
55   AC99NSP                               Unspecified time use

### HELP:
> Si on a plusieurs activitÃ©s + plusieurs pays en multiindex,  
et qu'on veut mettre un des deux en colonnes :

```python
df.unstack(level=...)
```